.Menu {
  display: flex;
  flex-basis: 250px;
  background-color: dodgerblue;
 nav{
     flex: 1;
 }
  ul {
    list-style: none;
  }
  li {
    display: flex;
   a {
      flex: 1;
    margin-bottom: 10px;
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
  }
  a:hover{
      background: rgba(0, 0, 0, 0.322);
  }
}
}
